.main-navigation {
	ul {
		list-style-type: none;
		margin: 0;
	}

	.menu {
		display: flex;
		align-items: center;

		& > .menu-item {
			margin-right: 1.25rem;
		}
	}

	.menu-item {
		position: relative;

		a {
			display: block;
			border-top: .25rem solid transparent;
			border-bottom: .25rem solid transparent;
			padding: .375rem .125em;
			color: $white;
			@include tracking(50);
			text-decoration: none;
		}
	}
}

.menu-main-menu-container {
	display: none;

	@include breakpoint(tablet) {
		display: block;
	}
}

.menu-toggle {
	background: $aggie_orange;
	border: none;
	padding: .5em;
	color: $white;
	font-size: 1em;

	&:hover {
		background: $aggie_orange;
	}

	@include breakpoint(tablet) {
		display: none;
	}
}
