.gallery {
	margin-bottom: #{$line_height}em;
}

.gallery-item {
	display: inline-block;
	width: 100%;
	text-align: center;
	vertical-align: top;

	.gallery-columns-2 & {
		max-width: calc(100% / 2);
	}

	.gallery-columns-3 & {
		max-width: calc(100% / 3);
	}

	.gallery-columns-4 & {
		max-width: calc(100% / 4);
	}

	.gallery-columns-5 & {
		max-width: calc(100% / 5);
	}

	.gallery-columns-6 & {
		max-width: calc(100% / 6);
	}

	.gallery-columns-7 & {
		max-width: calc(100% / 7);
	}

	.gallery-columns-8 & {
		max-width: calc(100% / 8);
	}

	.gallery-columns-9 & {
		max-width: calc(100% / 9);
	}
}

.gallery-caption {
	display: block;
}
