// Color Variables
// Brand Colors
$csu_green: #004c23;
$csu_gold:  #cbc46e;
$white:     #fff;

// Secondary Colors
$black:     #58595b;


$gray: #333;

$body_color: $gray;


// Font Variables
$system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$body_font: $system;
$heading_font: $system;

$line_height: 1.5;
